extends layout

block content
  h1= title
  ul
  each book in book_list
    li 
      span(class="glyphicon glyphicon-bookmark" aria-hidden="true")
      a(href=book.url) #{book.title} 
      | (#{book.author.name})

  else
    li There are no books.