doctype html 
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="navbar navbar-inverse" style="margin-bottom:0;width:100vw;color:white")
      div(class='row' style="margin-right:0px")
        div(class='col-sm-3')
          h3(style="color:white") Library management
        div(class='col-sm-5')
        div(class='col-sm-1')
          a(href="#" style="color:white;" id="nav-username") Help
        div(class='col-sm-1')
          a(href="#" style="color:white" id="nav-username") Settings
        div(class='col-sm-1')
          a(href="/login" id="nav-username" )  exit
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
            ul(class="nav nav-pills nav-stacked")
              li
                a(href='/catalognotManage') Home
              li 
                a(href='/catalognotManage/books') All books
              li 
                a(href='/catalognotManage/authors') All authors
              li 
                a(href='/catalognotManage/genres') All genres
              li 
                a(href='/catalognotManage/bookinstances') All book-instances
              li 
                hr
              li 
                a(href='/catalognotManage/author/create') Create new author
              li 
                a(href='/catalognotManage/genre/create') Create new genre
              li 
                a(href='/catalognotManage/book/create') Create new book
              li 
                a(href='/catalognotManage/bookinstance/create') Create new book instance (copy)
                
        div(class='col-sm-10')
          block content

          